<div style="text-align:center; padding:20px">
    <h1 style="color:green">Gracias por confiar en nosostros!</h1>
    <p>Su compra ya se encuentra confirmada</p>

    <a href="/" class="btn btn-success">Volver a inicio</a>
</div>