<style>
    a{
        text-decoration: none;
        color:white;
    }
</style>


<h1>INDEX</h1>
<h3>Bienvenido!</h3>
<button class="btn btn-dark"><a href="/privado"> Contenido Privado</a></button>
<button class="btn btn-danger"><a href="/api/auth/logout">Logout</a></button>